<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-include="'components/header/header.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="nav nav-tabs nav-stacked col-md-1 col-lg-10 col-sm-6" ng-repeat="link in search_results">
        <div class="list" ng-mouseenter="list = 'list:hover'" ng-mouseleave="list = 'list'" ui-sref="gameDetails({ cid: link.id, store: 'ES/es'})">
          <h4>{{link.name}}</h4>
          <img class="game-img" ng-src="{{link.images[2].url}}"></img>
          <label ng-show="link.default_sku">{{link.default_sku.display_price}}</label>
          <label ng-hide="link.default_sku">{{link.gameContentTypesList[0].name}}</label>
          <div ng-show="link.default_sku.entitlements[0].drms[0]">
            <label>{{link.default_sku.entitlements[0].drms[0].size}}</label>
            <label>{{link.default_sku.entitlements[0].drms[0].unit}}</label>
          </div>
          <div ng-repeat="platform in link.playable_platform">
            <label>{{platform}}</label>
          </div>
          <!--<label>{{link}}</label>-->
        </div>
      </div>
      <div ng-show="searchError" class="thing-form" class="alert alert-info" role="alert">
        <label>{{searchError}}</label>
      </div>
    </div>
  </div>

<div ng-include="'components/footer/footer.html'"></div>
